body {
  margin: 0;
  height: 100vh;
  background: black;
  color: #00ffcc;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.overlay {
  width: 90%;
  animation: flicker 0.15s infinite;
}

h1 {
  color: red;
  font-size: 1.8em;
  animation: shake 0.2s infinite;
}

#status {
  margin-top: 10px;
  opacity: 0.8;
}

.warning {
  margin-top: 15px;
  color: red;
  animation: blink 0.4s infinite;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  font-family: monospace;
}

#result {
  margin-top: 20px;
  font-size: 1.3em;
  color: yellow;
}

@keyframes blink {
  0%,100% {opacity:1;}
  50% {opacity:0.1;}
}

@keyframes shake {
  0% {transform: translate(1px,1px);}
  50% {transform: translate(-2px,1px);}
  100% {transform: translate(1px,-1px);}
}

@keyframes flicker {
  0% {opacity:1;}
  50% {opacity:0.95;}
  100% {opacity:1;}
}
